################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Section 2/Multi-Threading/Multithreading/.vs/Multithreading/v16
