################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Section 2/Multi-Threading/Multithreading/.vs/Multithreading/v16
/Section 2/Multi-Threading/Multithreading/Multithreading/obj
/Section 3/ReactiveChat/ReactiveChat/.vs/ReactiveChat/v16
/Section 3/ReactiveChat/ReactiveChat/ReactiveChat/bin/Debug/netcoreapp3.0
/Section 3/ReactiveChat/ReactiveChat/ReactiveChat/obj
